@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Geist';
    src: url("../../public/fonts/Geist/Geist/GeistVariableVF.woff2") format("woff2");
  }

  @font-face {
    font-family: 'GeistMono';
    src: url("../../public/fonts/GeistMono/GeistMono/GeistMonoVariableVF.woff2") format("woff2");
  }


[x-cloak] {
    display: none;
}
